/* body {
    
    background-attachment: fixed;
    background-size: cover;
    background-image: url("./asset/756399.jpg");
    
 
} */

.background-color{
    background: #514E5E;
}

#burger-shop-id{
    /* margin-left: 60px; */
    color:#D59B9B;
    font: 600 35px/50px "Lato", sans-serif;
}
.navbar-color{
    background: #514E5E;
}

.color{
    color: aqua;
    /* margin-left: 20px ;
    margin-right: 30px; */
}


.right-side-main-div-row{
    background: #1F1D2B;
    margin-top:6%;
    height: 65vh;
    border-radius: 20px;
}



/* .table-header-color{
    background-color: #574F4D;
}
.th-row{
    font: 600 30px/35px "Lato", sans-serif;
}
.td-row{
    font-size: 1rem;
    /* font: 600 1rem/35px "Lato", sans-serif; */
 




@media screen and (max-width: 500px) {
    .td-row{
        font-size: 0.3rem;
    }
    /* Your styles for devices with a maximum width of 500px */
  }

  /* right side**********************************/
  .list-group-item{
    background-color: #1F1D2B;
  }



  #first-li {
    height: 20vh !important;
    border-radius: 20px 20px 0px 0px !important; 
}       